<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pizzas</title>
    <link rel="stylesheet" href="/css/stylesPizzas.css">
<body>


<button id="cerrarSessionButton" type="submit" class="cerrarSesion">Cerrar sesion</button>


<form th:action="@{/pedidos}" method="get">
    <button type="submit" class="btn btn-primary">Pedidos</button>
</form>

<h2>Pizzas</h2>

<form id="crearForm" th:action="@{/pizzas/admin/crearPizza}" method="get">
    <button type="submit" class="btn btn-success">Crear pizza</button>
</form>

<div id="pizza-cards-container" class="pizza-cards-container">
    <!-- Las pizzas se cargarán aquí como cards -->
</div>

<script th:src="@{/pizzas.js}"></script>

</body>
</html>
